@import '../../../styles/variables.scss';

.social {
  max-width: 640px;
  // height: 132px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
  &__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
  &__text {
    @include fontB2;
    padding: 0 24px;
    line-height: 150%;
    color: $text-secondary-color;
  }
  @media (max-width: 600px) {
    &__media {
      gap: 40px;
    }
  }
}