@import '../../../styles/variables.scss';

.card {
  width: 314px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 12px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  &__color {
    width: 314px;
    height: 159px;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
  }
  &__info {
    padding: 16px 16px 13px 16px;
    text-align: start;
    flex-grow: 1;
    &_title {
      @include fontH4;
      padding-bottom: 8px;
      color: $text-primary-color;
    }
    &_text {
      @include fontB1;
      color: $text-secondary-color;
    }
  }
  &__link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 204px 16px 16px;
    margin-top: auto;
    font-size: 14px;
    color: $cta-color;
    &:hover {
      color: $cta-hover-color;
    }
  }
}