@import '../../../styles/variables.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  width: 100vw;
  padding: 40px 0;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    gap: 24px;
  }
  &__title {
    @include fontH1;
    color: $text-primary-color;
  }
  &__text {
    color: $text-secondary-color;
    &_1 {
      @include fontB1;
    }
    &_2 {
      @include fontB1mobile;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    &__block {
      width: 85%;
    }
    &__img {
      content: url('../../../assets/mobile/mobile_img.jpg');
    }
    &__title {
      @include fontH1mobile;
    }
    &__text {
      color: $text-secondary-color;
      &_1 {
        @include fontB1mobile;
      }
    }
  }
}

.input {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__email {
    width: 296px;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    &::placeholder {
      @include fontB2;
      color: $text-primary-color;
    }
  }
  @media (max-width: 600px) {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__email {
      width: 240px;
      margin-right: 0;
      }
    }
}

.btn {
  width: 98px;
  height: 45px;
  border: 1px solid $cta-color;
  border-radius: 8px;
  background-color: $cta-color;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__text {
    @include fontB2;
    padding-right: 8px;
  }
  &:hover {
    background-color: $cta-hover-color;
  }
  @media (max-width: 600px) {
    width: 272px;
    &__text {
      @include fontB2;
    }
  }
}