@import '../../../styles/variables.scss';

.products {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 32px;
  &__title {
    @include fontH1;
    color: $text-primary-color;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  @media (max-width: 600px) {
    padding: 24px 0;
    gap: 16px;
    &__title {
      @include fontH1mobile;
    }
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}