@import '../../styles/variables.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
  &__link {
    @include fontB3;
    color: $cta-color;
    &:hover {
      color: $cta-hover-color;
    }
  }
}

@media (max-width: 600px) {
  
}